@charset "gb2312";

/**
 * 
 * @authors sunchao (734669594@qq.org)
 * @date    2014-11-21 9:00:00
 * @version 1.0
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0
}

body,
button,
input,
select,
textarea {
  font: 14px/1.5 Microsoft Yahei, Tahoma, Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%
}

address,
cite,
dfn,
em,
var {
  font-style: normal
}

ul,
ol,
li {
  list-style: none
}

a {
  text-decoration: none
}

legend {
  color: #000
}

fieldset,
img {
  border: 0;
  vertical-align: top;
}

section,
article,
aside,
header,
footer,
nav,
dialog,
figure {
  display: block;
}

figure {
  margin: 0;
}

button,
input,
select,
textarea {
  font-size: 100%
}

table {
  border-collapse: collapse;
  border-spacing: 0
}



.clear {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both
}

.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both
}

.clearfix {
  *zoom: 1
}

a:link,
a:visited,
a:hover {
  text-decoration: none
}

a:active {
  text-decoration: underline
}



a {
  outline: none;
}

.none {
  display: none;
}

.block {
  display: block;
}

.noBg {
  background: none !important;
}

.noBd {
  border: none !important;
}

.noPd {
  padding: 0 !important;
}

.noMg {
  margin: 0 !important;
}

.fl {
  float: left;
  display: inline
}

.fr {
  float: right;
  display: inline
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

/* css3.0 animate */


body {
  color: #333;
  background: #e9e9e9;
}

a {
  color: #333;
}

a:hover {
  color: #005aab;
}

.wrap {
  position: relative;
  width: 1203px;
  margin: 0 auto;
  clear: both;
}












@-webkit-keyframes orangeIn {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

@-moz-keyframes orangeIn {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

@-ms-keyframes orangeIn {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

@keyframes orangeIn {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

@-webkit-keyframes orangeOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0
  }
}

@-moz-keyframes orangeOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0
  }
}

@-ms-keyframes orangeOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0
  }
}

@keyframes orangeOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0
  }
}

.in a {
  line-height: 55px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.in a:hover {
  color: #005aab;
  clear: both;
  float: left;
  height: 55px;
  margin: 0 1px 0 0;
  opacity: 0.8;
  width: 119px;
  background: #ccc;
}